.container {
  width: 100%;
  overflow-x: auto;
  padding-left: 24px;
  padding-right: 24px;
}
.table {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--action-disabled-background);
  border-radius: 3px;
}

.tableHeader {
  font-size: 13px;
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  height: 35px;
  align-items: center;
  background-color: var(--action-disabled-background);
  border-bottom: 1px solid var(--action-disabled-background);
  text-align: left;
}

.tableRow {
  display: contents; /* To make the divs behave like tr elements */
}

.tableCell {
  display: flex;
  padding: 8px;
  border-bottom: 1px solid var(--action-disabled-background);
  display: flex;
  align-items: center;
}
