.container {
  width: 100%;
  overflow-x: auto;
  padding-left: 24px;
  padding-right: 24px;
}
.table {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 0.5px solid;
  border-color: var(--action-disabled-background);
  border-radius: 3px;
}
.tablehHeader {
  font-size: 13px;
  font-weight: 500;
  padding-left: 1rem; /* Assuming px refers to padding on the x-axis, which typically means both left and right */
  padding-right: 1rem;
  display: flex;
  height: 35px;
  align-items: center;
  border-right: 0.5px solid;
  border-right-color: var(--action-disabled-background);
  background-color: var(--action-disabled-background);
  border-bottom: 0.5px solid;
  border-bottom-color: var(--action-disabled-background);
  min-width: 250px;
  flex-basis: 250px;
}
