.container {
  display: flex;
  align-items: center;
  border-radius: var(--radius-100, 4px);
  border: 1px solid var(--border-default-tertiary, #e7e7e7);
}
.tab {
  display: flex;
  height: 24px;
  padding: var(--space-100, 4px) var(--space-400, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--space-200, 8px);
  border-radius: var(--radius-00, 0px) var(--radius-100, 4px)
    var(--radius-100, 4px) var(--radius-00, 0px);
  border-right: var(--stroke-border, 1px) solid
    var(--border-default-tertiary, #e7e7e7);
  border-left: var(--stroke-border, 1px) solid
    var(--border-default-tertiary, #e7e7e7);
  cursor: pointer;
}
.active {
  border-radius: var(--radius-100, 4px) var(--radius-00, 0px)
    var(--radius-00, 0px) var(--radius-100, 4px);
  border-right: var(--stroke-border, 1px) solid
    var(--border-default-tertiary, #e7e7e7);
  border-left: var(--stroke-border, 1px) solid
    var(--border-default-tertiary, #e7e7e7);
  background: var(--background-gray-secondary, #f6f6f6);
}
.tab:hover {
  border-radius: var(--radius-00, 0px);
  border-right: var(--stroke-border, 1px) solid
    var(--border-default-tertiary, #e7e7e7);
  border-left: var(--stroke-border, 1px) solid
    var(--border-default-tertiary, #e7e7e7);
  background: var(--background-gray-secondary-hover, #d1d1d1);
}
