.container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100dvh;
  display: flex;
  width: 576px;

  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  width: 576px;
  max-width: 576px;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--background-gray-default);
  padding-bottom: 40px;
}
.container:focus-visible {
  outline: none;
}
.loadingBox {
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  display: flex;
  width: 576px;
  background-color: var(--Grey-White);
  z-index: 1000;
  opacity: 0.7;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 2;
  padding: 12px 40px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-bottom: 1px solid var(--Grey-100);
  background: var(--Grey-50);
}
.imageContainer {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  .imageBox {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    background-image: url(/assets/img/image.png); /* The image used */
    background-color: transparent; /* lightgray; Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
}

.imageBox {
  display: flex;
  justify-content: center;
}
.containerForRule {
  flex: 1 0 0;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  display: flex;
  justify-content: flex-end;
}
.info {
  display: flex;
  width: 576px;
  padding: 0px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  .title {
    display: flex;
    width: 100%;
    height: 24px;
    flex-direction: column;
    justify-content: center;
  }
  .fileDetails {
    counter-reset: section;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;

    .box1 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;
      .boxtitle {
        display: flex;
        align-items: center;
        gap: 8px;

        .number_box {
          display: flex;
          width: 24px;
          height: 24px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;

          border-radius: 100px;
          background: var(--Grey-100);
          position: relative;
        }
        .number_box::before {
          counter-increment: section; /* Увеличиваем счетчик для каждого заголовка */
          content: counter(section); /* Отображаем значение счетчика */
          position: absolute;
          top: 2;
          left: 9px;
          font-family: "Roboto Mono", monospace;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 16px;
          color: var(--Grey-Black);
        }
      }
      .box_container_column,
      .box_container {
        display: flex;
        align-items: flex-start;
        /* gap: 8px; */
        gap: 16px;
        align-self: stretch;
      }
      .box_container_column {
        flex-direction: column;
      }
      .info_container {
        display: flex;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        border-radius: 6px;
      }
      .info_container > span:first-child {
        width: 89px;
      }

      .linkContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        align-self: stretch;
        border-radius: 6px;
        .labelContainer {
          display: flex;
          align-items: center;
          gap: 2px;
          align-self: stretch;
        }
        .inputContainer {
          display: flex;
          height: 40px;
          padding: 8px;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;
          border-radius: 6px;
          border: 1px solid var(--Grey-200, #dcdcdc);
          background: var(--Grey-50, #f8f8f8);
        }
        .lognTextWithScroll {
          max-width: 90%;
          overflow-x: auto;
          white-space: nowrap;
        }
        .lognTextWithScroll::-webkit-scrollbar {
          display: none; /* Safari and Chrome */
        }
        .copy_icon {
          cursor: pointer;
        }
      }
      .toggleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        align-self: stretch;
      }

      /* .uploadTitle {
          display: flex;
          width: 496px;
          height: 24px;
          flex-direction: column;
          justify-content: center;
  
          color: #171717;
  
          font-family: "Roboto";
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
        } */
    }
  }
}
.button_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  padding-left: 40px;
  padding-right: 40px;
}
.tagContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;

  border-radius: 6px;
  .lagLabel {
    display: flex;
    align-items: center;
    gap: 2px;
    align-self: stretch;
  }
  .tagWrapper {
    height: 40px;
    display: flex;
    padding: 3px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--Grey-200);
  }
  .tagWrapper:hover {
    border-color: var(--Grey-500);
  }
}
