.custom-data-grid {
  width: 100%;
}

.custom-data-grid .mui-data-grid-root {
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
}

.custom-data-grid .mui-data-grid-root .mui-svg-icon-root {
  width: 16px;
}

.custom-data-grid .mui-data-grid-root .mui-data-grid-column-headers {
  padding: 0px;
  min-height: 40px !important;
}

.custom-data-grid .mui-data-grid-root .mui-data-grid-column-header {
  height: 40px !important;
}

.custom-data-grid .mui-data-grid-root .mui-data-grid-row {
  padding: 1px 0px;
  min-height: 48px !important;
}

.custom-data-grid .mui-data-grid-root .mui-data-grid-cell {
  border: none;
  overflow: hidden;
  color: var(--Grey-Black);
  text-overflow: ellipsis;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.custom-data-grid .mui-data-grid-root .mui-data-grid-column-header-title {
  color: var(--Grey-600);
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  outline: none;
}

.custom-data-grid .mui-data-grid-root .mui-data-grid-column-header:focus,
.custom-data-grid .mui-data-grid-root .mui-data-grid-cell:focus,
.custom-data-grid .mui-data-grid-root .mui-data-grid-cell:focus-within {
  outline: none;
}

.custom-data-grid .mui-data-grid-root .mui-data-grid-footer-container,
.custom-data-grid .mui-data-grid-root .mui-table-pagination-toolbar {
  min-height: 36px !important;
}

.custom-data-grid .mui-data-grid-root .mui-table-pagination-select-label,
.custom-data-grid .mui-data-grid-root .mui-table-pagination-displayed-rows,
.custom-data-grid .mui-data-grid-root .mui-table-pagination-select,
.custom-data-grid .mui-data-grid-root .mui-table-pagination-menu-item {
  font-size: 14px !important;
}

.custom-data-grid .mui-data-grid-root button {
  max-height: 32px !important;
}
