.button {
  cursor: pointer;
  text-transform: none;
  display: flex;
  padding: var(--space-200, 8px) var(--space-400, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--space-200, 8px);
  border-radius: var(--radius-200, 8px);
  outline: 0;
  transition: border-color 0.25s, background-color 0.25s;
}

.button:focus,
.button:focus-visible {
  outline: 0 !important;
}
button:focus,
button:focus-visible {
  outline: 0 !important;
}

/* Primary Button */
.primaryButton {
  height: 40px; /* Default height */
  border: none;
  color: var(--text-primary-on-primary, #fff);
  background: var(--background-primary-default, #52466c);
}
.primaryButton[data-size="small"] {
  height: 32px; /* Default height */
}

.primaryButton[data-variant="outlined"] {
  border: 1px solid var(--background-primary-default, #52466c);
  background-color: var(--text-primary-default); /* White background */
  color: var(--background-primary-default, #52466c);
}

.primaryButton:hover {
  background: var(--background-primary-default-hover, #75649d);
}

.primaryButton[data-variant="outlined"]:hover {
  color: var(--Primary-800); /* Even darker text */
  background-color: var(
    --background-primary-default
  ); /* White background stays */
  border-color: var(--Primary-800);
}

.primaryButton:disabled {
  background: var(--background-gray-default-disabled, #e7e7e7);
  color: var(--text-default-default-disabled, #888);
  cursor: not-allowed;
}

.primaryButton[data-variant="outlined"]:disabled {
  color: var(--Background-Gray-Tertiary); /* Very light gray */
  border-color: var(--Background-Gray-Tertiary); /* Very light gray */
  background-color: var(--Background-Gray-Default); /* White background stays */
}

.primaryButton:active {
  background: var(--background-primary-default-pressed, #625483);
}
.primaryButton[data-size="small"] {
  height: 32px; /* Smaller button height */
}

.primaryButton.primaryButtonBorderNone {
  border: none;
}
/* warning button */
.warningButton {
  height: 40px; /* Default height */
  border: none;
  color: var(--system-error);
  background-color: var(--system-srror-fill);
}
.warningButton[data-size="small"] {
  height: 32px; /* Default height */
}

.warningButton[data-variant="outlined"] {
  border: 1px solid var(--system-error);
  background-color: var(--Background-Gray-Default); /* White background */
  color: var(--system-error); /* Blue text */
}

.warningButton:hover {
  background-color: var(--system-srror-fill-dark); /* Darker blue */
}

.warningButton[data-variant="outlined"]:hover {
  color: var(--System-Error-Dark); /* Even darker text */
  background-color: var(--Background-Gray-Default); /* White background stays */
  border-color: var(--System-Error-Dark);
}

.warningButton:disabled {
  background-color: var(--Background-Gray-Disabled); /* Light gray */
  color: var(--Background-Gray-Tertiary); /* Very light gray */
  cursor: not-allowed;
}

.warningButton[data-variant="outlined"]:disabled {
  color: var(--Background-Gray-Tertiary); /* Very light gray */
  border-color: var(--Background-Gray-Tertiary); /* Very light gray */
  background-color: var(--Background-Gray-Default); /* White background stays */
}

.warningButton[data-size="small"] {
  height: 32px; /* Smaller button height */
}

/* Secondary Button */
.secondaryButton {
  height: 40px; /* Default height */

  border: var(--stroke-border, 1px) solid var(--border-primary-default, #b7b1d4);
  background: var(--background-gray-default, #fff);
  color: var(--text-primary-default, #52466c);
}

.secondaryButton[data-size="small"] {
  height: 32px;
}

.secondaryButton:not(:disabled):hover {
  border: var(--stroke-border, 1px) solid
    var(--border-primary-secondary, #8777b0);
  background: var(--background-gray-default, #fff);
  color: var(--text-primary-default, #52466c);
}

.secondaryButton:not(:disabled):active {
  border: var(--stroke-border, 1px) solid
    var(--border-primary-tertiary, #352d48);
  background: var(--background-gray-default, #fff);
  color: var(--text-primary-default, #52466c);
}

.secondaryButton:disabled {
  color: var(--text-default-default-disabled, #888);
  border: var(--stroke-border, 1px) solid
    var(--border-default-default-disabled, #b0b0b0);
  background: var(--background-gray-default, #fff);
  cursor: not-allowed;
}

/* icon Button */
.iconButton {
  cursor: pointer;
  text-transform: none;
  outline: 0;
  transition: border-color 0.25s, background-color 0.25s;
  display: inline-flex;

  align-items: center;
  justify-content: center;
  border-radius: var(--radius-200, 8px);
  border: none;
}

.iconButton:focus,
.iconButton:focus-visible {
  outline: 0 !important;
}
.iconButton:focus,
.iconButton:focus-visible {
  outline: 0 !important;
}

.primaryIconButton {
  height: 40px;
  width: 40px;
  border: none;
  color: var(--icons-default-default);
  background: var(--background-primary-tertiary, #e5e4f0);
}
.primaryIconButton[data-size="small"] {
  height: 32px;
  width: 32px;
}
.primaryIconButton:hover {
  background: var(--background-primary-tertiary-hover, #b7b1d4);
}
.primaryIconButton:disabled {
  background: var(--background-gray-default-disabled, #e7e7e7);
  color: var(--icons-default-default-disabled);
  cursor: not-allowed;
}

.primaryIconButton:active {
  background: var(--background-primary-tertiary-pressed, #d0cee4);
}
