.colorBlack {
  color: var(--Grey-Black);
}
.colorWhite {
  color: var(--Grey-White);
}
.colorGreyBlack {
  color: var(--Grey-Black);
}
.colorGreyWhite {
  color: var(--Grey-White);
}
.colorGrey50 {
  color: var(--Grey-50);
}
.colorGrey100 {
  color: var(--Grey-100);
}
.colorGrey200 {
  color: var(--Grey-200);
}
.colorGrey500 {
  color: var(--Grey-500);
}
.colorGrey600 {
  color: var(--Grey-600);
}
.colorGrey700 {
  color: var(--Grey-700);
}
.colorSystemError {
  color: var(--System-Error);
}
.blueRibbon600 {
  color: var(--Blue-Ribbon-600);
}
.colorPrimary600 {
  color: var(--Primary-600);
}

.colorTextPrimary {
  color: var(--Text-Primary-Default);
}
.colorBackgroundDefault {
  color: var(--Backgroud-Default-Default);
}
