/* inputs  */

.input-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-150, 6px);
}
.input-container .labelWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-050, 2px);
  align-self: stretch;
}
.labelWrapper .inputLabel {
  color: var(--text-default-secondary, #6d6d6d);
  /* Body/S/Medium */
  font-family: var(--body-font-family, Inter);
  font-size: var(--body-sizeS, 12px);
  font-style: normal;
  font-weight: var(--body-font-weight-strong, 500);
  line-height: 115%; /* 13.8px */
}
.input-container .inputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
}
.iconInput {
  color: var(--icons-default-secondary, #6d6d6d);
}
.iconInputDisabled {
  color: var(--icons-default-default-disabled, #6d6d6d);
}
input,
textarea {
  width: 100%;
  display: flex;
  padding: var(--space-200, 8px);
  align-items: center;
  gap: var(--space-100, 4px);
  align-self: stretch;
  cursor: text;
  text-transform: none;
  outline: 0;
  justify-content: space-between;
  height: 40px;
  color: var(--text-default-default, #262626);
  /* Body/M/Regular */
  font-family: var(--body-font-family, Inter);
  font-size: var(--body-sizeM, 14px);
  font-style: normal;
  font-weight: var(--body-font-weight-regular, 400);
  line-height: 115%; /* 16.1px */

  border-radius: var(--radius-200, 8px);
  border: var(--stroke-border, 1px) solid
    var(--border-default-tertiary, #e7e7e7);
  background: var(--background-primary-secondary, #f8f7fb);
}

textarea::placeholder,
input::placeholder {
  color: var(--text-default-secondary, #6d6d6d);
  /* Body/M/Regular */
  font-family: var(--body-font-family, Inter);
  font-size: var(--body-sizeM, 14px);
  font-style: normal;
  font-weight: var(--body-font-weight-regular, 400);
  line-height: 115%; /* 16.1px */
}
textarea {
  height: 64px;
}

input[type="date"] {
  display: block;
}

input[data-size="small"] {
  height: 32px;
}

input:hover,
textarea:hover {
  border: var(--stroke-border, 1px) solid var(--border-primary-default, #b7b1d4);
}
input:focus,
textarea:focus {
  border: var(--stroke-border, 1px) solid
    var(--border-primary-tertiary, #352d48);
  background: var(--background-primary-secondary, #f8f7fb);
}
input:focus .inputLabel,
textarea:focus .inputLabel {
  color: var(--text-primary-default, #52466c);
}
input:focus .helper-text,
textarea:focus .helper-text {
  color: var(--text-primary-default, #52466c);
}
input[data-error="true"],
textarea[data-error="true"] {
  border: var(--stroke-border, 1px) solid var(--border-error-default, #82071e);
  background: var(--background-primary-secondary, #f8f7fb);
}
input[data-error="true"] .inputLabel,
textarea[data-error="true"] .inputLabel {
  color: var(--text-error-default, #cf222e);
}

input:disabled,
textarea:disabled {
  border: var(--stroke-border, 1px) solid
    var(--border-default-default-disabled, #b0b0b0);
  background: var(--background-gray-default-disabled, #e7e7e7);
  cursor: not-allowed;
  color: var(--text-default-default-disabled, #888);
}
input:disabled .inputLabel,
textarea:disabled .inputLabel {
  color: var(--text-default-default-disabled, #888);
}
input:disabled .helper-text,
textarea:disabled .helper-text {
  color: var(--text-default-default-disabled, #888);
}

input:disabled::placeholder,
textarea:disabled::placeholder {
  color: var(--text-default-default-disabled, #888);
}

.helper-text {
  color: var(--text-default-secondary, #6d6d6d);
  /* Body/S/Medium */
  font-family: var(--body-font-family, Inter);
  font-size: var(--body-sizeS, 12px);
  font-style: normal;
  font-weight: var(--body-font-weight-strong, 500);
  line-height: 115%; /* 13.8px */
}
.error-text {
  color: var(--text-error-default, #cf222e);
  /* Body/S/Medium */
  font-family: var(--body-font-family, Inter);
  font-size: var(--body-sizeS, 12px);
  font-style: normal;
  font-weight: var(--body-font-weight-strong, 500);
  line-height: 115%; /* 13.8px */
}

.custom_select {
  border-color: var(
    --Background-Gray-Tertiary-Hover,
    #dcdcdc
  ) !important; /* Fallback color */
  background-color: var(
    --Background-Gray-Default,
    #ffffff
  ); /* Fallback color */
  cursor: text !important;
  display: flex !important;
  height: 40px;
  align-items: center !important;
  gap: 8px;
  align-self: stretch;
  border-radius: var(--border-radius, 6px) !important;
  border: 1px solid;
  text-transform: none;
  color: var(--Text-Default-Default, #171717) !important; /* Fallback color */
  outline: 0 !important;
  width: 100%;
  outline: none;
}

.custom_select:not(.disabled):hover {
  border-color: var(--Text-Default-Default) !important;
}
.custom_select:focus {
  border-color: var(--Primary-600) !important;
}
.custom_select[data-error="true"] {
  border-color: var(--System-Error) !important;
}
.custom_select.disabled {
  border-color: var(--Background-Gray-Secondary) !important;
}

.custom_select[data-disabled="true"] {
  border-color: var(--Background-Gray-Secondary) !important;
}
.custom_select[data-anchor="true"] {
  border-color: var(--Primary-600) !important;
}

.custom_select fieldset {
  border: none;
}
