/* menu paper */
.menuPaper {
  display: flex;
  padding: 8px 4px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border-radius: 6px !important;
  border: 1px solid var(--Grey-100, #e8e8e8);
  background: var(--Grey-White, #fff);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15) !important;
  margin-top: 2px;
}
.menuPaper ul {
  padding-bottom: 0px;
  padding-top: 0px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

/* menu item */
.menuItem {
  display: flex !important;
  height: 32px;
  padding: 4px 8px !important;
  align-items: center !important;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 4px !important;
  background-color: var(
    --Grey-White
  ) !important; /* Assuming you have a CSS variable named --grey-white for the color */
  width: 100%;

  /* Hover state */
  &:hover {
    background-color: var(
      --Primary-50
    ) !important; /* Assuming you have a CSS variable named --primary-50 for the color */
  }
}
.menuItem.Mui-selected {
  background-color: var(--Primary-100) !important;
}
.menuItemText {
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: "nowrap";
}
