.filterButton {
  cursor: pointer;
  text-transform: none;
  height: 32px;
  display: inline-flex;
  padding: 4px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  border: 1px solid;
  border-color: var(--grey-200);
  background-color: var(--grey-white);
  color: var(--grey-black);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  outline: 0;
}
.filterButton.active {
  border: none;
  background-color: var(--primary-100);
  color: var(--grey-500);
}

.filterButton.active:hover,
.filterButton.active:active {
  background-color: var(--primary-200);
}

.filterButton:hover,
.filterButton:active {
  background-color: var(--grey-200);
}
.filterButton:disabled {
  background-color: var(--grey-50);
  color: var(--grey-300);
}
