.container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.text {
  color: var(--Gray-500, #6d6d6d);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  cursor: pointer;
}
.textLast {
  color: var(--Text-Default-Default, #262626);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}
