@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-primary-default);
    background-color: var(--background-gray-default);
  }
  /* a:hover {
    color: #747bff;
  } */
  /* button {
    background-color: var(--Background-Gray-Default);
  } */
}
.mainCootainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 66px;

  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  color: var(--text-primary-default);
  background-color: var(--background-gray-default);
  overflow: auto;
}
