@media (prefers-color-scheme: light) {
  :root {
    color: var(--Text-Default-Default);
    background-color: var(--Background-Gray-Default);
  }
  /* a:hover {
    color: #747bff;
  } */
  button {
    background-color: var(--Background-Gray-Default);
  }
}
.mainCootainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 66px;

  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  background-color: var(--Background-Gray-Default);
  color: var(--Text-Default-Default);
  overflow: auto;
}
